<!DOCTYPE HTML>
<html>

	<head>
		<title>PS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>

	<body class="is-preload">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">
					<header id="header">
						<h1 style="color:black;"><b>Pablo Sammartino</b></h1>
						<h2 style="font-size: larger; color:black;"><b>Software Tester</b></h2>
						<p style="color:black;"><b>Functional Testing &nbsp;&bull;&nbsp; UX/UI Testing &nbsp;&bull;&nbsp; API Testing</b></p>
						<nav>
							<ul>
								<li><a href="https://twitter.com/pabliceps" target="_blanl" class="icon brands fa-twitter" style="color: black;"><span class="label">Twitter</span></a></li>
								<li><a href="https://web.facebook.com/sammartinopablo/" target="_blank" class="icon brands fa-facebook-f" style="color: black;"><span class="label">Facebook</span></a></li>
							</ul>
						</nav>
						<iframe width="700" height="350" src="https://www.youtube.com/embed/u6QfIXgjwGQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
					</header>
					<footer id="footer">
						<span class="">&copy; <a href="http://html5up.net" target="_blank">HTML5 UP.</a></span>
					</footer>

			</div>
		</div>
		<script>
			window.onload = function() { document.body.classList.remove('is-preload'); }
			window.ontouchmove = function() { return false; }
			window.onorientationchange = function() { document.body.scrollTop = 0; }
		</script>
	</body>
</html>